input(ng-model='dateFormat')
h2(show-time='dateFormat')

h1  sssssssss
my-test1
//h1(my-test1)
hr
hr
my-test1a
h1(my-test1a)
hr
hr
my-test1b(mytestscope='user')
my-test1b(mytestscope='animal')
ul
  li(ng-repeat='animal in animals')
    my-test1b(mytestscope='animal')
