mixin select_all()
  input(type="checkbox", ng-model="checkDatas.checked", name="filter-checkbox", value="")#select_all

div.container(ng-controller='tableCtrl', ui-view)
  div.toolbar(dnt-service='actionService')
    button(type='button', weighing='*', dnt-fire='actionService.perform(refresh)') refresh
    button(type='button', weighing='1', require-css='approved new', reject-css='msc msp', dnt-fire='actionService.gotoState("table.detail")') edit
    button(type='button', weighing='1+', require-css='approved new', reject-css='msc msp', dnt-fire='actionService.perform(approve)') approve
    button(type='button', weighing='2', require-css='approved new', reject-css='msc msp', dnt-fire='actionService.perform(compare)') compare
    button(type='button', weighing='2', dnt-fire='actionService.perform(compare)') noStatusCompare
    table.table(ng-table="tableParams")#table
      tr(ng-repeat="phone in $data", ng-class='style')
        td(style='text-align: left', with='30', header="'ngTableCheckboxHeader'")
          input(type='text', ng-hide='true', ng-model='style', ng-init='style=phone.status')
          input(type='checkbox', ng-model="checkDatas.items[phone.age]")
        td(data-title="'Name'") {{phone.name}}
        td(data-title="'ID'")  {{phone.id}}
        td(data-title="'status'")  {{phone.status}}

  script(type="text/ng-template")#ngTableCheckboxHeader
    +select_all()