//dnt-service(service='ActionService')
div.container(ng-controller='tableCtrl', ui-view)
  div.toolbar(dnt-bind='ActionService.bindSelection("checkboxes.items") as actionService')
    button(type='button', dnt-fire='ActionService.gotoState("table.detail")') Approve
    table.table(ng-table="tableParams")
      tr(ng-repeat="phone in phones")
        td(style='text-align: left', with='30')
          input(type='checkbox', ng-model="checkboxes.items[phone.age]")
        td(data-title="Name") {{phone.name}}
        td(data-title="ID")  {{phone.id}}